<li>
	<ul class="post_list">
		<ul class="post_title">
			<li class="post_link"><a href="{{path}}">{{title}}</a></li>
			<li class="post_date">{{date}}</li>
		</ul>
		<li class="post_tags">{{{tags}}}</li>
	</ul>
</li>