<ul class="pnav">
	<li class="pnav_left">Précédent</li>
	<li class="post_date">Suivant</li>
</ul>
<ul class="pnav">
	<li class="pnav_left">{{{previous}}}</li>
	<li class="pnav_right">{{{next}}}</li>
</ul>