<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{{description}}">
    <title>{{post_title}} - {{blog_title}}</title>
    <link rel="stylesheet" type="text/css" href="../assets/blog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
  </head>
  <body>
    <div class="blog">
      <h1><a href={{blog_path}}>{{blog_title}}</a></h1>
      <h3>{{post_title}}</h3>
      <h4>{{date}}</h4>
      {{{tags_list}}}
      {{{content}}}
      {{{navigation}}}
    </div>
  </body>
</html>