{{#collapsible}}
  <div class="wrap-collabsible">
    <input id="{{year}}" class="toggle" type="checkbox" checked>
    <label for="{{year}}" class="lbl-toggle">{{year}}</label>
    <div class="collapsible-content">
      <div class="content-inner">
{{/collapsible}}
{{^collapsible}}
      </div>
    </div>
  </div>
{{/collapsible}}