<html>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="{{description}}">
    <base href="{{base}}">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/blog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
  </head>
  <body>
    <div class="blog">
      <a href="stats.html"><h1>{{title}}</h1></a>
      <div class="flex-container">
        <input id="filter-bar" onkeyup="filter()" type="text" name="search">
        <input id="collapser" type="checkbox" name="collapse" onClick="collapse_all(this)">
      </div>
      {{{posts}}}
    </div>
    <script src="assets/scripts/filter.js"></script>
    <script>
      let x = document.getElementsByClassName('list_li');
      document.getElementById('filter-bar').input = '';
      document.getElementById('filter-bar').placeholder = x.length + " articles...";
    </script>
    <script src="assets/scripts/collapse.js"></script>
    <script src="assets/scripts/scrollbar.js"></script>
    <script>
      window.onscroll = function() { scroll_indicator() };
    </script>
    <footer>
	 <div id="footer__progress_bar"></div>
    </footer>
  </body>
</html>