		<li class="list_li">
			<ul class="list_ul">
				<ul class="title_ul">
					<li class="link_li"><a href="{{path}}">{{title}}</a></li>
					<li class="date_li">{{date}}</li>
				</ul>
				<li class="tags_li">{{{tags}}}</li>
			</ul>
		</li>
