<ul class="pnav">
	<li class="pnav_left">Précédent</li>
	<li class="post_date">Suivant</li>
</ul>
<ul class="pnav">
	<li class="pnav_left"><a href='posts/{{ppath}}'>{{ptitle}}</a></li>
	<li class="pnav_right"><a href='posts/{{npath}}'>{{ntitle}}</a></li>
</ul>