<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="{{description}}">
    <base href="{{base}}">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/blog.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Manrope">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="blog">
      <a href="index.html"><h1>{{title}}</h1></a>
      {{{year_plot}}}
      {{{month_plot}}}
      {{{tags_plot}}}
    </div>
  </body>
</html>