<html>
  <head>
    <meta charset="utf-8">
    <meta name="Description" content="{{description}}">
    <base href="{{base}}">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/blog.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
  </head>
  <body>
    <div class="blog">
      <a href={{root_path}}><h1>{{title}}</h1></a>
      <h2>{{tag}}</h2>
      {{{posts}}}
    </div>
    <script src="assets/scripts/scrollbar.js"></script>
    <script>
      window.onscroll = function() { scroll_indicator() };
    </script>
    <footer>
	 <div id="footer__progress_bar"></div>
    </footer>
  </body>
</html>